<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Notes</title>
</head>
<body>
    <h1>Express Notes</h1>
    <% notes.forEach(note => { %>
    <h2><%= note.title %></h2>
    <p><%= note.contents.substring(0, 200) %>...</p>
    <a href="/notes/<%= note.id %>">View More</a>
    <% }) %>

    <a href="/createNote">Create a New Note</a>
</body>
</html>